body {
    margin: 0;
    font-family: arial, sans-serif;
    font-size: 0.9em;
}
  
a{
    margin:5px;
    text-decoration: none;
    color:black;
}  

a:hover{
    text-decoration: underline;
}

nav{
    display: flex;
    justify-content: flex-end;
}

.header-nav{
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-right: 10px;
}

ul > a, ul > img{
    padding: 0 8px;
}

.header-img{
    height: 20px;
    width: 20px;
    padding: 0px;
    border-radius: 10px;
    margin-right: 10px;
} 

.header-img:hover{
    box-shadow: 1px 1px 10px #5f6368;
    cursor: pointer;
}

#sign_in {
    color: #fff;;
    background: #4887ef; 
    padding: 7px 15px;
    border-radius: 3px; 
}

#sign_in:hover {
    box-shadow: 1px 1px 5px #999;
    text-decoration: none;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin-top: 0.5vh;
    margin-bottom: 3vh;
    font-family: product sans;
    font-size: 6.5em;
}

.Searchbar{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: 550px;
    height: 35px;
    border: 1px solid gainsboro;
    border-radius: 30px;
}

.Searchbar:hover{
    box-shadow: 0 0 10px gainsboro;
}

.Searchbar > input{
    font-size: medium;
    flex-grow: 1;
    border: none;
    outline: none;
}
 
.Searchbar > img:hover{
    cursor: pointer;
}

.Buttons{
    padding-top: 25px;
}

button{
    background-color: #f4f4f5;
    border-radius: 5px;
    border: none;
    height: 35px;
    padding: 0 20px;
    margin: 0 4px;
}

button:hover{
    cursor: pointer;
    box-shadow: 0 1px 1px 0 gainsboro;
    border: 1px solid gainsboro; 
}

#Links{
    margin-top: 20px;
    text-align: center;
}

#Linestart:hover{
    text-decoration: none;
}

.link{
    color: blue;
}

footer{
    /* color: rgb(114, 112, 112); */
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

#footer1{
    color: rgb(114, 112, 112);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid #e4e4e4;
}

#footer2{
    display: flex;
    justify-content: space-between;
} 

#footer2>ul>a{
    color: rgb(114, 112, 112);
}

#footerleft{
    display: flex;
    justify-self: start;
    padding-left: 20px;
    align-items: center;
}

#footerright{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    align-items: center;
}

@media (max-width:630px){
    #footer2{
        flex-direction: column;
    }
    #footerleft{
        justify-content: center;
    }
    #footerright{
        justify-content: center;
    }
    .Searchbar{
        width: 95vw;
    }
}

@media(max-height:522px){
    body{
        overflow: hidden;
    }
    section{
        margin-bottom: 20px;
    }
    footer{
        position:relative
    }
}

@media (max-height: 570px) and (max-width:630px) {
    body{
        overflow-x: hidden;
    }
    section{
        margin-bottom: 13px;
    }
    footer{
        position: relative;
    }
}